/* Page login */

.lien-nav {
  text-decoration: none;
}

.lienLogin {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.login h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 150px;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

input {
  width: 380px;
  height: 50px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

form div {
  display: flex;
  flex-direction: column;
}

form a {
  text-decoration: none;
  text-align: center;
  margin-bottom: 100px;
}

.validation {
  display: flex;
  width: 180px;
  height: 38px;
  margin: 35px auto 25px auto;
  justify-content: center;
}

.error {
  color: red;
}
